In [5]:
i = 1
s = 0

while i <= 100:
    s += i
    i += 1
   
print("The sum of the first 100 natural numbers: ", s)

The sum of the first 100 natural numbers:  5050

In [21]:
n = int(input("Enter a number: "))
fact = 1

for i in range(1, n + 1):
    fact = fact * i
print("The factorial caluclation is: ", fact)

Enter a number:  4

The factorial caluclation is:  24

In [19]:
i = 0
a, b = 0, 1
while i < 10:
    a, b = b, a + b
    i += 1
    print(a)

1
1
2
3
5
8
13
21
34
55

In [44]:
numbers = [1, 2, 3, 4, 5]
sn = []

for n in numbers:
    sn. append(n ** 2)

print("Original list: ", n)
print("Squared list: ", sn)

Original list:  5
Squared list:  [1, 4, 9, 16, 25]

In [42]:
n = -1
while n <= 0:
    n = int(input("Enter a positive number to sum up to: "))
s = 0
for i in range(1, n+1):
    s = s + i
print("Sum of 1 to {} is {}". format(n,s))

Enter a positive number to sum up to:  -1
Enter a positive number to sum up to:  0
Enter a positive number to sum up to:  7

Sum of 1 to 7 is 28

In [45]:
n = int(input("Enter a number to sum up to: "))
s = 0
for i in range(1, n+1):
    s = s + i
print("Sum of 1 to {} is {}".format(n,s))

Enter a number to sum up to:  -10

Sum of 1 to -10 is 0

In [30]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [33]:
tuple1 = ("a", "b", "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [36]:
x = 30 * 4
print(x)

120

In [40]:
x = int(input("Enter the x-coordinate: "))
y = int(input("Enter the y-coordinate: "))

if x < 0 and y > 0:
    print("1 quadrant")
elif x > 0 and y > 0:
    print("2 quadrant")
elif x < 0 and y < 0:
    print("3 quadrant")
elif x > 0 and y < 0:
    print("4 quadrant")

Enter the x-coordinate:  3
Enter the y-coordinate:  -3

4 quadrant

In [35]:
for i in range(1, 100):
    for n in range(2, int(i/2) + 1):
        if i % n == 0:
            break
    else:
        print(i)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [26]:
i = 10

while i > 0:
    print(i)
    i -= 1

print("liftoff!")

10
9
8
7
6
5
4
3
2
1
liftoff!

In [102]:
txt = "Samuel Mathias"[::-1]
for t in txt:
    if t == "t": 
            continue
    print(t, end= ' ')

s a i h a M   l e u m a S

In [ ]:
n = int(input("Enter a digit: "))
s = 0
while n >= 0:
        s += n
        n += 1   
    print(n)

In [30]:
for seq in range (50, 1000, 100):
    print(seq)

50
150
250
350
450
550
650
750
850
950

In [9]:
n = int(input("Enter number: "))
for i in range(1, n+1):
    for j in range(1, i+1):        
        print(i, end=" ")
    print()

Enter number:  5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [54]:
for i in range(2, 20):         # outer for the loop
     for j in range(1, 10):  # inner the loop
        print("{}*{} = {:2d}, ".format(i, j, i*j), end = ' ')
     print()

2*1 =  2,  2*2 =  4,  2*3 =  6,  2*4 =  8,  2*5 = 10,  2*6 = 12,  2*7 = 14,  2*8 = 16,  2*9 = 18,
3*1 =  3,  3*2 =  6,  3*3 =  9,  3*4 = 12,  3*5 = 15,  3*6 = 18,  3*7 = 21,  3*8 = 24,  3*9 = 27,
4*1 =  4,  4*2 =  8,  4*3 = 12,  4*4 = 16,  4*5 = 20,  4*6 = 24,  4*7 = 28,  4*8 = 32,  4*9 = 36,
5*1 =  5,  5*2 = 10,  5*3 = 15,  5*4 = 20,  5*5 = 25,  5*6 = 30,  5*7 = 35,  5*8 = 40,  5*9 = 45,
6*1 =  6,  6*2 = 12,  6*3 = 18,  6*4 = 24,  6*5 = 30,  6*6 = 36,  6*7 = 42,  6*8 = 48,  6*9 = 54,
7*1 =  7,  7*2 = 14,  7*3 = 21,  7*4 = 28,  7*5 = 35,  7*6 = 42,  7*7 = 49,  7*8 = 56,  7*9 = 63,
8*1 =  8,  8*2 = 16,  8*3 = 24,  8*4 = 32,  8*5 = 40,  8*6 = 48,  8*7 = 56,  8*8 = 64,  8*9 = 72,
9*1 =  9,  9*2 = 18,  9*3 = 27,  9*4 = 36,  9*5 = 45,  9*6 = 54,  9*7 = 63,  9*8 = 72,  9*9 = 81,
10*1 = 10,  10*2 = 20,  10*3 = 30,  10*4 = 40,  10*5 = 50,  10*6 = 60,  10*7 = 70,  10*8 = 80,  10*9 = 90,
11*1 = 11,  11*2 = 22,  11*3 = 33,  11*4 = 44,  11*5 = 55,  11*6 = 66,  11*7 = 77,  11*8 = 88,  11*9 = 99,
12*1 = 12,  12*2 = 24,  12*3 = 36,  12*4 = 48,  12*5 = 60,  12*6 = 72,  12*7 = 84,  12*8 = 96,  12*9 = 108,
13*1 = 13,  13*2 = 26,  13*3 = 39,  13*4 = 52,  13*5 = 65,  13*6 = 78,  13*7 = 91,  13*8 = 104,  13*9 = 117,
14*1 = 14,  14*2 = 28,  14*3 = 42,  14*4 = 56,  14*5 = 70,  14*6 = 84,  14*7 = 98,  14*8 = 112,  14*9 = 126,
15*1 = 15,  15*2 = 30,  15*3 = 45,  15*4 = 60,  15*5 = 75,  15*6 = 90,  15*7 = 105,  15*8 = 120,  15*9 = 135,
16*1 = 16,  16*2 = 32,  16*3 = 48,  16*4 = 64,  16*5 = 80,  16*6 = 96,  16*7 = 112,  16*8 = 128,  16*9 = 144,
17*1 = 17,  17*2 = 34,  17*3 = 51,  17*4 = 68,  17*5 = 85,  17*6 = 102,  17*7 = 119,  17*8 = 136,  17*9 = 153,
18*1 = 18,  18*2 = 36,  18*3 = 54,  18*4 = 72,  18*5 = 90,  18*6 = 108,  18*7 = 126,  18*8 = 144,  18*9 = 162,
19*1 = 19,  19*2 = 38,  19*3 = 57,  19*4 = 76,  19*5 = 95,  19*6 = 114,  19*7 = 133,  19*8 = 152,  19*9 = 171,

In [62]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for n in numbers:
    print(n)

1
2
3
4
5
6
7
8
9

In [68]:
user = input("Please enter a word: ") 
reversed_word = user[::-1]

print(reversed_word )

Please enter a word:  Hello World

dlroW olleH

In [85]:
for i in range(1, 100):
    for n in (2, int(i/2) + 1):
        if i % n == 0:
            break
    else:
        print(i)

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [74]:
i = 0
a, b = 0, 1
for i in range(1, 51):
    a, b = b, a + b
    i += 1
    print(a,)

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025

In [24]:
import calendar

year = int(input("Enter year: ")) 
month = int(input("Enter month: "))

cal = calendar.month(year, month)

print(cal)

Enter year:  2024
Enter month:  7

     July 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [31]:
import calendar

year = int(input("Enter year: ")) 

cal = calendar.calendar(year)
print(cal)

Enter year:  2024

                                  2024

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [32]:
import calendar

year = int(input("Enter year: ")) 

cal = calendar.TextCalendar()
year_calendar = cal.formatyear(year)
print(year_calendar)

Enter year:  2024

                                  2024

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [1]:
import time
from datetime import datetime
while True:   
    now = datetime.now()
    print (now.strftime("%m/%d/%Y %H:%M:%S"), end="", flush=True),
    print("\r", end="", flush=True),
    time.sleep(1)

KeyboardInterrupt:

In [10]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [11]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [12]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [13]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [3]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [17]:
s = 0
for i in range(1, 11):
    print(i)
    s += i

1
2
3
4
5
6
7
8
9
10

In [14]:
st = input("Enter name: ")
vow = 0
for ch in st:
    if ch in ['a', 'e', 'i', 'o', 'u']:
        vow = vow + 1 
print(vow)

Enter name:  computer

3

In [22]:
for i in range(1, 10):
    for n in range(2, int(i/2) + 1):
        if i % n == 0:
            break
    else:
        print(i)

1
2
3
5
7

In [1]:
s = 'Welcome to python'
s.split()

['Welcome', 'to', 'python']

In [2]:
s = '2021.8.15'
s.split('.')

['2021', '8', '15']

In [4]:
s = 'Hello, world'
s.split(',')

['Hello', ' world']

In [5]:
s = 'Hello, world'
s.split(', ')

['Hello', 'world']

In [6]:
s = 'Welcome to, Python and, bla, bla  '
s.split(',')

['Welcome to', ' Python and', ' bla', ' bla  ']

In [7]:
s = 'Welcome to, Python and, bla, bla  '
[x.strip() for x in s.split(',')]

['Welcome to', 'Python and', 'bla', 'bla']

In [10]:
s = '  Hello, world  '
s.split(', ')

['  Hello', 'world  ']

In [11]:
s.lstrip()

'Hello, world  '

In [12]:
s.rstrip()

'  Hello, world'

In [14]:
s = '#####this is an example#####'
s.strip('#')

'this is an example'

In [15]:
s = '#####this is an example#####'
s.lstrip('#')

'this is an example#####'

In [16]:
s = '#####this is an example#####'
s.rstrip('#')

'#####this is an example'

In [17]:
','.join(['apple', 'grape', 'banana'])

'apple,grape,banana'

In [19]:
'-'.join('010.1234.5678'.split('.'))

'010-1234-5678'

In [20]:
''.join(['apple', 'grape', 'banana'])

'applegrapebanana'

In [21]:
s = 'Hello world'
clist = list(s)
clist

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [22]:
''.join(clist)

'Hello world'

In [24]:
a_string = "Action \n\t speak louder than words"
a_string

'Action \n\t speak louder than words'

In [25]:
print(a_string)

Action
	 speak louder than words

In [26]:
word_list = a_string.split()
word_list

['Action', 'speak', 'louder', 'than', 'words']

In [27]:
refined_string = " ".join(word_list)
print(refined_string)

Action speak louder than words

In [28]:
s = 'hello world'
s.lower()

'hello world'

In [29]:
s.upper()

'HELLO WORLD'

In [31]:
s = 'hello'
s.capitalize()

'Hello'

In [32]:
s = 'ABCDEFGHIJKLMNOPQRSTWVXYZ'
s.endswith('C', 1, 3)

True

In [34]:
s.startswith('B', 1)

True

In [35]:
s.startswith('A')

True

In [36]:
s.startswith('B', 5)

False

In [37]:
s.endswith('Z')

True

In [38]:
s.endswith('C', 1, 10)

False

In [39]:
text = '123,456,789,999'

replaceALL = text.replace(',', '')
replace_t1 = text.replace(',', '', 1)
replace_t2 = text.replace(',', '', 2)
replace_t3 = text.replace(',', '', 3)

print('Result:')
print(replaceALL)
print(replace_t1)
print(replace_t2)
print(replace_t3)

Result:
123456789999
123456,789,999
123456789,999
123456789999

In [50]:
item = {"Coffee": 7, "Pen": 3, "Paper cup": 2, "Milk": 1, "Coke": 4, "Book": 5}
print("select menu \n1)checkstock \n2)warehousing \n3)release \n4)exit")
order = str(input(": ")).lower()
checkstock = item.get(input("Enter item: "))
print("Stock:", x)

item = {"Coffee": 7, "Pen": 3, "Paper cup": 2, "Milk": 1, "Coke": 4, "Book": 5}
print("select menu \n1)checkstock \n2)warehousing \n3)release \n4)exit")
order = str(input(": ")).lower()
for x, y in item.items(input("Enter item and quantities: ")):
    print(x, y)

select menu
1)checkstock
2)warehousing
3)release
4)exit

:  checkstock
Enter item:  Coffee

Stock: 7
select menu
1)checkstock
2)warehousing
3)release
4)exit

:  release
Enter item and quantities:  Milk 1

TypeError: dict.items() takes no arguments (1 given)